body {
   background-color:#02AD7D;
   color:  #8CD1C8;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: x-large;
   text-align: center;
}
fieldset {
    display: block;
    border: 1px solid #8CD1C8;
    margin-top: 300px;
    margin-left: 40%;
    margin-right: 40%;
}
input {
    border: none;
    margin: 10px;
    background-color: #8CD1C8;
    outline: none;
}      
button {
    border: none;
    background-color: #8CD1C8;
}
