body {
    background-color:#3F3F40;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
    color: aliceblue;
    
}
button {
border: none;
margin: 10px;
background-color: #8D8E8F;
outline: none;
text-decoration: none ;
transition-duration: 0.3s;
font-size:larger;
}
button:hover {
    background-color: #727273; 
    color: white;
    
}
.home {
    border: none;
    text-align: center;
    
}
fieldset {
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    border: none;
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}